[submodule "pack/basic/opt/Comment.nvim"]
	path = pack/basic/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/basic/opt/heirline.nvim"]
	path = pack/basic/opt/heirline.nvim
	url = https://github.com/jstruebel/heirline.nvim.git
[submodule "pack/basic/start/colorschemes.nvim"]
	path = pack/basic/start/colorschemes.nvim
	url = https://github.com/TheDreadedAndy/colorschemes.nvim.git
[submodule "pack/basic/opt/gruvbox-material"]
	path = pack/basic/opt/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "guess-indent.nvim"]
	path = pack/basic/opt/guess-indent.nvim
	url = https://github.com/NMAC427/guess-indent.nvim.git
[submodule "pack/basic/opt/nvim-tmux-navigation"]
	path = pack/basic/opt/nvim-tmux-navigation
	url = https://github.com/alexghergh/nvim-tmux-navigation.git
