[submodule "pack/basic/opt/gruvbox-flat.nvim"]
	path = pack/basic/opt/gruvbox-flat.nvim
	url = https://github.com/eddyekofo94/gruvbox-flat.nvim.git
[submodule "pack/basic/opt/Comment.nvim"]
	path = pack/basic/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/basic/opt/heirline.nvim"]
	path = pack/basic/opt/heirline.nvim
	url = https://github.com/rebelot/heirline.nvim.git
