[submodule "pack/basic/opt/Comment.nvim"]
	path = pack/basic/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/basic/opt/heirline.nvim"]
	path = pack/basic/opt/heirline.nvim
	url = git@github.com:jstruebel/heirline.nvim.git
[submodule "pack/basic/start/gruvbox-flat.nvim"]
	path = pack/basic/start/gruvbox-flat.nvim
	url = https://github.com/eddyekofo94/gruvbox-flat.nvim.git
[submodule "pack/basic/start/colorschemes.nvim"]
	path = pack/basic/start/colorschemes.nvim
	url = https://github.com/TheDreadedAndy/colorschemes.nvim.git
